.ipynb_checkpoints/

*.swp

*.html

hello.py

__pycache__/fibo.cpython-36.pyc

fibo.py

sample.txt

workfile.json

workfile.txt

demo.py

today/backup.db

today/data.db
01-Copy1.Introduction.ipynb
test.out

circle.png
